* {
    margin: 0;
    padding: 0;
    
}

body {
  /* font-family: "Roboto", sans-serif; */
  height: 100vh;
  background-color: #f65f56;
  display: flex;
  flex-direction: column;
}


.menu-foto {
    width: 60px;
    height: 60px;
    margin-left: 5px;
    transform: rotate(10deg);
}



.img-model{
    width: 240px;
    height: 200px;
    margin-top: 5%;
    margin-left: 30%;
}

.base{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #fdf8f3;
}

.principal{
    margin: 0 20px 0 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* ------------- CALENDARIO ---------- */
.calendario{
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    margin-top: 2%;
    border-radius: 48px 48px 0px 0px;
    background-color: #fdf8f3;
    width: 100%;
    height: 100px;
    justify-content: space-evenly;
}

.data{
    width: 40px;
    height: 50px;
    border-radius: 15px 15px 15px 15px;
    border: 2px solid black;
    background-color: #e3e1df;
    box-shadow: #e90e40 8px 3px 0px 1px;
    margin: 10px;
    text-align: center;
    padding-top: 2%;

}

/* --------- meio do html ------ */

.conteudo{
    display: flex;
    flex-direction: column;
    width: 293px;
    padding-left: 17px;
}

.check{
    height: 50px;
    border: none;
    border-radius: 10px;
}

.teste{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.importancia-moderada{
    width: 8px;
    height: 20px;
    background-color: #ffeb0b;
}

.importancia-urgente{
    width: 8px;
    height: 20px;
    background-color: #ff300b;
}

.importancia-afazer{
    width: 8px;
    height: 20px;
    background-color: #7dff0b;
}

.delete{
    color: #000000;
    text-decoration: none;
    margin-left: 3%;
    margin-top: 10%;
}

.feito{
    padding: 3px;
    margin-left: 80%;
    margin-top: 10%;
}

.tarefa-completa{
    text-decoration: line-through;
}

form{
    margin-top: auto;
    position: sticky;
    bottom: 18px;
}

li{
    list-style: none;
    
}

.tarefas{
    display: flex;
    flex-direction: row;
}
h1{
    padding-top: 6%;
    padding-bottom: 4%;
    align-self: flex-start;
}

.tarefas li{
    margin-top: 8%;
}

/* ------------- BOTÃO -------------- */
.adicionar_tarefa{
    width: 75px;
    height: 75px;
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 40px;
    margin-left: 44%;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    text-decoration: none;
    z-index: 1;
}

/* -------- vai ser usado pra tela grande ------  */

/* .adicionar_tarefa:hover {
  background-color: #fff;
}

.adicionar_tarefa:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
} */

/* ------------- LOGIN ------------- */
.container{
    background-color: #fbeee0;
    width: 400px;
    margin-top: 40%;
    margin-left: 20%;
}

form{
    display: flex;
    margin-top: auto;
    position: sticky;
    bottom: 18px;
    flex-direction: column;
    align-items: center;
}






