* {
    margin: 0;
    padding: 0;
    
}

body {
  /* font-family: "Roboto", sans-serif; */
  height: 100vh;
  background-color: #f5755f;
  /* box-shadow: inset 0px 0px 60px #2e2c2b; */
  background: -webkit-linear-gradient(top, #ffe5ca 0%, #32312e33 50%);
}

.menu{
  width: 10%;
  margin-left: 3%;
}

.menu p{
    height: 2.5px;
    border-radius: 5%;
    background-color: #8E9AAF;
    padding-top: 5px;
    margin-top: 15%;
}

.lapis{
    width: 140px;
    height: 140px;
    margin-top: 5%;
    margin-left: 30%;
}

.base{
    height: 80vh;
    background-color: #fdf8f3;
}

.principal{
    margin: 0 20px 0 20px;
}

/* ------------- CALENDARIO ---------- */
.calendario{
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    margin-top: 5%;
    border-radius: 20px 20px 0px 0px;
    background-color: #fdf8f3;
    width: 100%;
    height: 100px;
    justify-content: space-evenly;
}

.data{
    width: 40px;
    height: 50px;
    border-radius: 15px 15px 15px 15px;
    background-color: #e3e1df;
    box-shadow: #6c6b69 9px 5px 3px 1px;
    margin: 10px;
    text-align: center;
    padding-top: 2%;

}

/* --------- meio do html ------ */

.conteudo{
    display: flex;
    flex-direction: column;
    width: 293px;
    padding-left: 17px;
}

.check{
    height: 50px;
    border: none;
    border-radius: 10px;
}

.teste{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.importancia-moderada{
    width: 8px;
    height: 20px;
    background-color: #ffeb0b;
}

.importancia-urgente{
    width: 8px;
    height: 20px;
    background-color: #ff300b;
}

.importancia-afazer{
    width: 8px;
    height: 20px;
    background-color: #7dff0b;
}

.delete{
    color: #000000;
    text-decoration: none;
    margin-left: 3%;
    margin-top: 10%;
}

.feito{
    padding: 3px;
    margin-left: 80%;
    margin-top: 10%;
}

.tarefa-completa{
    text-decoration: line-through;
}

form{
    margin-top: 20%;
}

li{
    list-style: none;
    
}

.tarefas{
    display: flex;
    flex-direction: row;
}
h1{
    padding-top: 5%;
    padding-bottom: 10%;
    align-self: flex-start;
}

.tarefas li{
    margin-top: 8%;
}

/* ------------- BOTÃO -------------- */
.adicionar_tarefa{
    margin-top: 20%;
    width: 75px;
    height: 75px;
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 40px;
    margin-left: 35%;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    text-decoration: none;
    position: fixed;
    z-index: 1;
}

/* -------- vai ser usado pra tela grande ------  */

/* .adicionar_tarefa:hover {
  background-color: #fff;
}

.adicionar_tarefa:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
} */






