* {
    margin: 0;
    padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  height: 90vh;
}

.menu{
  width: 10%;
  margin-left: 3%;
}

.menu p{
    height: 2.5px;
    border-radius: 5%;
    background-color: #8E9AAF;
    padding-top: 5px;
    margin-top: 15%;
}
.base{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin: 0 20px 0 20px
}

.calendario{
    margin: 10px;
    display: flex;
    margin-top: 10%;
}

.quadrado{
    width: 40px;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
    background-color: #DEE2FF;
    margin: 10px;
    text-align: center;
    padding-top: 5%;

}

.conteudo{
    display: flex;
    flex-direction: column;
    margin:0 100px 0 20px;
}

.data{
    color: #9e9e9e;
}

.check{
    height: 50px;
    border: none;
    border-radius: 10px;
}

.teste{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.importancia-moderada{
    width: 8px;
    height: 20px;
    background-color: #ffeb0b;
}

.importancia-urgente{
    width: 8px;
    height: 20px;
    background-color: #ff300b;
}

.importancia-afazer{
    width: 8px;
    height: 20px;
    background-color: #7dff0b;
}

li{
    list-style: none;
    
}

.tarefas{
    display: flex;
    flex-direction: row;
}
h1{
    padding-top: 10%;
    padding-bottom: 15%;
    align-self: flex-start;
}

/* ------------- BOTÃO -------------- */
.adicionar_tarefa{
    margin-top: 85%;
    width: 75px;
    height: 75px;
    border-radius: 100px;
    border: none;
    background-color: #CBC0D3


}
