{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'lista/css/style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title> To Do List</title>
</head>
    <body>
        <div class="menu"> <p></p> <p></p> <p></p>
        </div>

        <div class="base">
            <div class="calendario">
                <div class="quadrado"></div>
                <div class="quadrado"></div>
                <div class="quadrado"></div>
                <div class="quadrado"></div>
                <div class="quadrado"></div>
            </div>

            <h1> Tarefas</h1>

            {% for tarefa in lista_tarefas %}
            
                <ul class="tarefas">
                    {% if tarefa.categoria == "urgente" %}
                        <li class="importancia-urgente"> <div class="conteudo"> <b>{{tarefa.titulo}}</b> <div>{{tarefa.descricao}}</div> {{tarefa.criacao}}</div>  </li>
                        <!-- <input type="checkbox" class="check"> -->
                        <a class='delete' href="{% url 'lista_delete' tarefa.id %}"><span class="material-symbols-outlined">
                            delete
                            </span></a>
                    {% elif tarefa.categoria == "moderada" %}
                        <li class="importancia-moderada"> <div class="conteudo"> <b>{{tarefa.titulo}}</b>  <div>{{tarefa.descricao}}</div>} {{tarefa.criacao}}</div> </li>
                        <a class='delete' href="{% url 'lista_delete' tarefa.id %}"><span class="material-symbols-outlined">
                            delete
                            </span></a>
                        
                        <!-- <input type="checkbox" class="check"> -->
                    {% else %}
                        <li class="importancia-afazer"> <div class="conteudo"> <b>{{tarefa.titulo}}</b> <div>{{tarefa.descricao}}</div> {{tarefa.criacao}} </div> </li>
                        <a class='delete' href="{% url 'lista_delete' tarefa.id %}"><span class="material-symbols-outlined">
                            delete
                            </span></a>
                        <!-- <input type="checkbox" class="check" name="status"> -->
                    {% endif %}

                </ul>
               
                
                <!-- <b>{{tarefa.descricao}}</b> -->
                
                <!-- <p>{{tarefa.criacao}}</p>

                <b>Status:</b> {{tarefa.status}} -->

            {% endfor %}
                 <!-- ------- botão adiocnar aqui -------- -->
            <form action="{% url 'lista_new' %}">
                <button class="adicionar_tarefa"> </button>
            </form>
            
       

            <!-- <input type="text" placeholder="adicione suas tarefas aqui"> -->

           
           

        </div>
    </body>
</html>