{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'lista/css/style.css' %}" />
    <title>Document</title>
</head>
<body>
    <div class="menu"> <p>tres pontos aqui</p> </div>
    <div class="base">
        <div class="calendario">
            <div class="quadrado"></div>
            <div class="quadrado"></div>
            <div class="quadrado"></div>
            <div class="quadrado"></div>
            <div class="quadrado"></div>
            <div class="quadrado"></div>
        </div>
        <h1> Listinha</h1>
        <main id="tarefas"> tarefas vao aparecer aqui </main>
        <button class="adicionar_tarefa"> </button>

    </div>
   
</body>
</html>