{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'lista/css/style.css' %}" />
    <title> To Do List</title>
</head>
    <body>
        <div class="menu"> <p></p> <p></p> <p></p>
        </div>

        <div class="base">
            <div class="calendario">
                <div class="quadrado"></div>
                <div class="quadrado"></div>
                <div class="quadrado"></div>
                <div class="quadrado"></div>
                <div class="quadrado"></div>
                <div class="quadrado"></div>
            </div>

            <h1> Tarefas</h1>

            {% for tarefa in lista_tarefas %}
            
            <ul class="tarefas">
                {% if tarefa.categoria == "urgente" %}
                    <li class="importancia-urgente"> <div class="conteudo"></li>
                    <input type="checkbox" class="check">
                {% elif tarefa.categoria == "moderada" %}
                    <li class="importancia-moderada"> <div class="conteudo"></li>
                    <input type="checkbox" class="check">
                {% else %}
                    <li class="importancia-afazer"> <div class="conteudo"></li>
                    <input type="checkbox" class="check">
                {% endif %}
            </ul>
            
               
                
               <b>{{tarefa.descricao}}</b><p>{{tarefa.criacao}}</p>

               <!-- <b>Status:</b> {{tarefa.status}} -->

            <!-- <button class="adicionar_tarefa"> </button> -->
                {% endfor %}
       

<!--                <input type="text" placeholder="adicione suas tarefas aqui">-->

            <!-- ------- botão adiocnar aqui -------- -->
           

        </div>
    </body>
</html>