<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="container">
        <h1> Adicione uma Tarefa</h1>
        <div class="form-group">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {{ form.as_p }}
            <button class="btn btn-secondary" type="submit">Criar</button>
        </form>
        <form action=" {% url 'lista' %}">
            <button class="btn btn-secondary" type="submit">Cancelar</button>
        </form>
        </div>
    </div>
</body>
</html>